[submodule ".config/vim/pack/vim/start/asyncomplete.vim"]
	path = .config/vim/pack/vim/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule ".config/vim/pack/vim/start/asyncomplete-lsp.vim"]
	path = .config/vim/pack/vim/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule ".config/vim/pack/vim/start/vim-lsp"]
	path = .config/vim/pack/vim/start/vim-lsp
	url = https://github.com/riturajborpujari/vim-lsp
