* {
  all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar {
  background-color: #1f2329;
  color: #FFF;
  padding: 4px 10px;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  all: unset;
  background-color: #fff;
  color: #000000;
  border-radius: 4px;
}
.metric scale trough {
  all: unset;
  background-color: #444;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}
.chip {
  border-radius: 4px;
  padding: 4px 8px;
}
.active {
  background-color: #DDD;
  color: #222;
}

.grey {
  background-color: #666;
  color: #fff;
}

menu {
  background-color: #303030;
  border-radius: 4px;
}

menuitem {
  padding: 8px 12px;
}

menuitem:hover {
  background-color: #d0d0d0;
  color: #000;
}

.panel {
  background-color: #303030;
  color: #fff;

  padding: 8px 12px;
  border-radius: 4px;
}

.border-right {
  border-right: 1px solid #666;
  padding-right: 8px;
}
