* {
  all: unset;
  font-size: 20px;
  font-family: "NotoSansM NFM ExtCond Light";
}

.bar {
  background-color: #181818;
  color: #d0d0d0;
}

.border-right {
  border-right: 1px solid #444;
  padding: 0 8px;
}

.shaded {
  padding: 0 8px;
}

// For systray menu
menu {
  background-color: rgba(#303030, 1.0);
  border-radius: 4px;
  color: #a0a0a0;
}

menuitem {
  padding: 8px 12px;
}

menuitem:hover {
  background-color: #d0d0d0;
  color: #000;
}
