* {
  all: unset;
  font-size: 16px;
  font-family: "NotoSans Mono";
  color: #a0a0a0;
}

.topbar {
  background-color: #181818;
}

.border-right {
  border-right: 1px solid #606060;
  padding-right: 8px;
}

.shaded {
  background-color: #404040;
  padding: 2px 8px;
}

// For systray menu
menu {
  background-color: rgba(#303030, 1.0);
  border-radius: 4px;
  color: #d0d0d0;
}

menuitem {
  padding: 8px 12px;
}

menuitem:hover {
  background-color: #d0d0d0;
  color: #000;
}
