* {
    all: unset;
    font-size: 20px;
    font-family: "NotoSansM NFM ExtCond Light";
}

.bar {
    background-color: #181820;
    color: #efefef;
}

.border-right {
    border-right: 1px solid #444;
    padding: 2px 12px;
}

.shaded {
    padding: 2px 12px;
    background-color: #444;
}

// For systray menu
menu {
    background-color: rgba(#303030, 1.0);
    color: #a0a0a0;
}

menuitem {
    padding: 8px 12px;
}

menuitem:hover {
    background-color: #d0d0d0;
    color: #000;
}
