window {
	background: rgba(0,0,0, 0.95);
	color: #d0d0d0;
	border: 1px solid #d0d0d0;
	border-radius: 12px;
}

#input {
	border-radius: 12px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background: rgba(0,0,0, 0);
	color: #ffffff;
	padding: 8px 12px;
	outline: none;
}
#input:focus {
	box-shadow: none;
	border: 1px solid #d0d0d0;
}

#entry {
	padding: 8px 12px;
}

#entry:selected {
	background: #d0d0d0;
	color: #222222;
	border: none;
}

#text:selected {
	color: #222222;
}
